name: test

on:
  push: 
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run script
        run: echo Hello World!!

      - name: Intentional failure
        run: |
          echo "Failing build"
          exit 1

      - name: Send notification on failure
        if: failure()
        run: echo "This step runs because the build failed"
